* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: green;
}

main {
  flex: 1;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: aquamarine;
  width: 100%;
  height: 150px;
  padding: 16px 0 16px 0;
  align-content: center;
  text-align: center;
}
header h1 {
  text-transform: lowercase;
}
header p {
  width: 370px;
  margin: auto;
  line-height: 14px;
  padding: 10px 0 0 0;
}

#sectionWrap {
  width: 800px;
  height: auto;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-content: center;
  align-content: center;
  margin: auto;
}

section.s1 {
  background-color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.s1 h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
section.s1 h3 {
  text-align: center;
  padding-top: 10px;
}
section.s1 code {
  text-align: center;
  background-color: white;
  padding: 5px;
  width: 150px;
  display: inline-block;
}
section.s1 p {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  text-align: justify;
}

section.s2 {
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.s2 h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
section.s2 h3 {
  text-align: center;
  padding-top: 10px;
}
section.s2 code {
  text-align: center;
  background-color: white;
  padding: 5px;
  width: 150px;
  display: inline-block;
}
section.s2 p {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  text-align: justify;
}

section.s3 {
  background-color: purple;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.s3 h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
section.s3 h3 {
  text-align: center;
  padding-top: 10px;
}
section.s3 code {
  text-align: center;
  background-color: white;
  padding: 5px;
  width: 150px;
  display: inline-block;
}
section.s3 p {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  text-align: justify;
}

section.s4 {
  background-color: chocolate;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.s4 h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
section.s4 h3 {
  text-align: center;
  padding-top: 10px;
}
section.s4 code {
  text-align: center;
  background-color: white;
  padding: 5px;
  width: 150px;
  display: inline-block;
}
section.s4 p {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  text-align: justify;
}

footer {
  margin-top: auto;
  width: 100%;
  height: 100px;
  background-color: azure;
  align-content: center;
  text-align: center;
}
footer h3 {
  text-transform: lowercase;
}
footer p {
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
